<body>
  <div class="detail">
    <div class="detail__content">
      <div class="detail__content--image">
        <img src="{{product.image}}"alt="...">
      </div>
      <div class="detail__content--info">
        <div class="detail__content--info_decription">
          <h2>DECRIPTION</h2>
          <p>{{product.description}}.</p>
        </div> 
        <div class="rating-review">
          <h1>RATINGS &amp; REVIEWS</h1>
          <div class="rating-review__wrapper">
            <div class="rating">
              <div class="rating__wrapper">
                <h1>4.9</h1>
                <div class="rating__wrapper--star">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <p><strong>57</strong> Reviews</p>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="review__comment">
                <strong>Comments</strong>
                <div class="review__comment--send">
                  <div class="review__comment--send_img">
                    <img src="https://upload.wikimedia.org/wikipedia/vi/archive/1/1d/20210321120435%21N%C6%A1i_n%C3%A0y_c%C3%B3_anh_-_Single_Cover.jpg" >
                  </div>
                  <form class="form-comment" action="/product/comment" method="POST">
                    <input type="text" name="product_id" id="product_id" value="{{product._id}}" style="display:none">
                    <textarea name="content" id="content" cols="30" rows="2"></textarea>
                    <button class="btn-comment" type="submit">Send</button>
                  </form>
                </div>
                <div class="review__comment--page">
                  {{#each comment}}
                  <div class="review__comment--page_wrapper">
                    
                    <div class="review__comment--page_wrapper--title">
                      <img src="https://upload.wikimedia.org/wikipedia/vi/archive/1/1d/20210321120435%21N%C6%A1i_n%C3%A0y_c%C3%B3_anh_-_Single_Cover.jpg" alt="">
                    </div>
                    <div class="review__comment--page_wrapper--content">
                      <div class="review__comment--page_wrapper--content_box">
                        <strong>{{this.user_name}}</strong>
                        <p>{{this.content}}</p>
                      </div>
                      <div class="review__comment--page_wrapper--content_act">
                        <a href="#">Thích</a>
                        <a href="#">Trả lời</a>
                      </div>
                    </div>
                    
                  </div>
                  {{/each}}
                </div>
                
              </div>
            </div>
          </div>
          
      </div>
      </div>
    </div>
    <div class="detail__sidebar">
      <div class="detail__sidebar--choose">
        <h1>{{product.name}}</h1>
        <div class="detail__sidebar--choose_price">
          <p id="formatPrice">{{product.price}}</p>
          <span>VNĐ</span>
        </div>
        <div class="detail__sidebar--choose_size">
          <h3>Chọn size :</h3>
          <button class="btn--size">39</button>
          <button class="btn--size">40</button>
          <button class="btn--size">41</button>
          <button class="btn--size">42</button>
          <span class="warning-size">hãy chọn size của bạn</span>
        </div>
        <form id="form_addtocart" action="/product/{{product.slug}}" method="POST">
        </form>
        <div class="bor--adidas"><button class="btn--adidas addtocart">THÊM VÀO GIỎ HÀNG<i class="far fa-long-arrow-right"></i></button></div>
      </div>
      
    </div>
  </div>
  <div class="subscribe">
    <div class="subscribe__box">
        <div class="subscribe__box--h1">
            <h1>SIGN UP &amp; GET AN EXCLUSIVE OFFER</h1>
        </div> 
        <a href="/logon/signup"><div class="bor--adidas"><button class="btn--adidas">Sign up for newsletter<i class="far fa-long-arrow-right"></i></button></div> </a>
    </div>
</div>
</body>
<script>
  const review = document.querySelector(".review__comment--send");
  const user = sessionStorage.getItem("user");
  if(user == "no"){
    review.style.display ="none"
  }
  

  document.querySelector('.addtocart').addEventListener("click",function(){
    
    if(document.querySelector(".btnsize--active")){
      sessionStorage.setItem("Size",document.querySelector(".btnsize--active").innerHTML)
      document.getElementById("form_addtocart").submit();
      sessionStorage.setItem("slC",(Number(sessionStorage.getItem("slC"))+1));
    }else{
      document.querySelector(".warning-size").style.display = "block";
    } 
  })
 
</script>



