<div class="banner">
    <video style="width: 100%;" autoplay muted loop src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-stansmith-drop2-launch-sustain-glp-m-mh-large-1-v1-d_kwrtxo.mp4"></video>
    <div class="banner__content">
        <h1 class="banner__content--h1">STAN SMITH, FOREVER</h1>
        <p class="banner__content--p">The adidas Originals x Disney, Stan Smith collection—a combination of style and sustainability.</p>
        <a  href="#"> <div class="bor--adidas"><button class="btn--adidas">SHOP NOW<i class="far fa-long-arrow-right"></i></button></div></a> 
    </div> 
</div>
<div class="horscroll">
    <h1>BEST OF SHOES</h1>
    <div class="horscroll__container horContainer">
    {{#each product}}
        <div class="row">
            <div class="card">
                <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                <div class="card__content">
                    <a href="/product/{{this.slug}}">
                        <span class="text-overflow">{{this.name}}</span>
                    </a>
                    <div class="card__content--price">
                        <p id="formatPrice">{{this.price}}</p>
                        <span>VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
    <button class="btn--next btnnext"><i class="fas fa-chevron-right"></i></button>
    <button class="btn--re btnre"><i class="fas fa-chevron-left"></i></button>
</div>
<div class="bannerS">
    <div class="bannerS__item">
        <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enVN/Images/running-ss21-supernova-launch-glp-m-teaser-large-d_tcm212-630153.jpg" alt="">
        <div class="bannerS__item--content">
            <strong>RUN WITH SUPERNOVA+</strong>
            <p>Everyone has their ritual. Ours just needs more carbs. Trust your run. Every time.</p>
            <a href="#">SHOP NOW <i class="far fa-long-arrow-right"></i></a>
        </div>
        
    </div>
    <div class="bannerS__item">
        <video autoplay muted loop src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-stansmith-drop2-launch-sustain-glp-m-tc-large-v2-d_zhf7wn.mp4"></video>
        <div class="bannerS__item--content">
            <strong>STAN SMITH, FOREVER</strong>
            <p>Featuring a new PRIMEGREEN upper.</p>
            <a href="#">SHOP NOW <i class="far fa-long-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="horscroll">
    <h1>NEW ARRIVALS</h1>
    <div class="horscroll__container horContainer1" style="width:200%">
    {{#each sex}}
        <div class="row">
            <div class="card">
                <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                <div class="card__content">
                    <a href="/product/{{this.slug}}">
                        <span class="text-overflow">{{this.name}}</span>
                    </a>
                    <div class="card__content--price">
                        <p id="formatPrice">{{this.price}}</p>
                        <span>VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
    <button class="btn--next btnnext1"><i class="fas fa-chevron-right"></i></button>
    <button class="btn--re btnre1"><i class="fas fa-chevron-left"></i></button>
</div>
<div class="hp">
    <div class="hp_title">
        <span>Dành cho mọi người</span>
    </div>
    <div class="hp_products">
        
        <div class="hp_products__product">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enVN/Images/updated_gender_men_tb_tcm212-636700.jpg" alt="">
            <div class="hp_products__product--wrapper">
                <div class="hp_products__product--wrapper__content">
                    <a href="/men"><button>MEN</button></a>
                </div>
            </div>
        </div>
        <div class="hp_products__product">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enVN/Images/updated_gender_women_dt_tcm212-636701.jpg" alt="">
            <div class="hp_products__product--wrapper">
                <div class="hp_products__product--wrapper__content">
                    <a href="/woman"><button>WOMAN</button></a>
                </div>
            </div>
        </div>
        <div class="hp_products__product">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enVN/Images/updated_gender_kids_dt_tcm212-636695.jpg" alt="">
            <div class="hp_products__product--wrapper">
                <div class="hp_products__product--wrapper__content">
                    <a href="/kid"><button>KID</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribe">
    <div class="subscribe__box">
        <div class="subscribe__box--h1">
            <h1>SIGN UP &amp; GET AN EXCLUSIVE OFFER</h1>
        </div> 
        <a href="/logon/signup"><div class="bor--adidas"><button class="btn--adidas">Sign up for newsletter<i class="far fa-long-arrow-right"></i></button></div> </a>
    </div>
</div>

{{#each cart}}
<div class="cartSL" style="display: none;">{{@index}}</div>
{{/each}}

<script>
    const cartSL = document.querySelectorAll(".cartSL")
    if(cartSL){
        var slC = cartSL.length;
        sessionStorage.setItem("slC",slC);
    }else{
        sessionStorage.setItem("slC",0);
    }
</script>
