
<div class="banner">
    <video style="width: 100%;" autoplay muted loop src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-stansmith-drop2-launch-sustain-glp-m-mh-large-1-v1-d_kwrtxo.mp4"></video>
    <div class="banner__content">
        <h1 class="banner__content--h1">STAN SMITH, FOREVER</h1>
        <p class="banner__content--p">The adidas Originals x Disney, Stan Smith collection—a combination of style and sustainability.</p>
        <a href="#"><button class="banner__content--btn after">SHOP NOW<i class="far fa-long-arrow-right"></i></button></a> 
    </div> 
</div>
<div class="container">
{{#each product}}
    <div class="row">
        <div class="card">
            <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
            <div class="card__content">
                <a href="/product/{{this.slug}}">
                    <h3 class="text-overflow">{{this.name}}</h3>
                </a>
                <p id="formatPrice" class="card__content--price">{{this.price}}</p>
                <a href="/product/{{this.slug}}"><button class="card__content--btn">Buy now</button></a>
            </div>
        </div>
    </div>
{{/each}} 
</div>