
<div class="banner">
    <video style="width: 100%;" autoplay muted loop src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-stansmith-drop2-launch-sustain-glp-m-mh-large-1-v1-d_kwrtxo.mp4"></video>
    <div class="banner__content">
        <h1 class="banner__content--h1">STAN SMITH, FOREVER</h1>
        <p class="banner__content--p">The adidas Originals x Disney, Stan Smith collection—a combination of style and sustainability.</p>
        <a  href="#"> <div class="bor--adidas"><button class="btn--adidas">SHOP NOW<i class="far fa-long-arrow-right"></i></button></div></a> 
    </div> 
</div>
<div class="horscroll">
    <h1>BEST OF SHOES</h1>
    <div class="horscroll__container">
    {{#each product}}
        <div class="row">
            <div class="card">
                <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                <div class="card__content">
                    <a href="/product/{{this.slug}}">
                        <h3 class="text-overflow">{{this.name}}</h3>
                    </a>
                    <div class="card__content--price">
                        <p id="formatPrice">{{this.price}}</p>
                        <span>VNĐ</span>
                    </div>
                    <a href="/product/{{this.slug}}"><button class="card__content--btn">Buy now</button></a>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
    <button class="btn--next"><i class="fas fa-chevron-right"></i></button>
    <button class="btn--re"><i class="fas fa-chevron-left"></i></button>
</div>

<div class="hp-products">
    <div class="hp-products__product">
        <img src="https://images.vans.com/is/image/VansBrand/SP21_SEBikes_640x540?wid=640" alt="">
        <div class="hp-products__product--wrapper">
            <div class="hp-products__product--wrapper__content">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, aliquid.</p>
                <a href="#"><button>SHOP NOW</button></a>
            </div>
        </div>
    </div>
    <div class="hp-products__product">
        <img src="https://images.vans.com/is/image/VansBrand/210324_Vans_CC_MFTM_DotCom_HP_Banner_Mobile-1?$fullres$" alt="">
        <div class="hp-products__product--wrapper">
            <div class="hp-products__product--wrapper__content">
                <h1>Lorem, ipsum dolor.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, aliquid.</p>
                <a href="#"><button>SHOP NOW</button></a>
            </div>
        </div>
    </div>
</div>
<div class="subscribe">
    <div class="subscribe__box">
        <div class="subscribe__box--h1">
            <h1>SIGN UP &amp; GET AN EXCLUSIVE OFFER</h1>
        </div> 
        <a href="/logon/signup"><div class="bor--adidas"><button class="btn--adidas">Sign up for newsletter<i class="far fa-long-arrow-right"></i></button></div> </a>
    </div>
</div>
