<body style="background-color: #f5f5f5;">
    <div class="cart">
        <div class="cart__title">
            <div class="cart__title--checkbox">
                <input type="checkbox" name="alltt" id="alltt">
            </div>
            <div class="cart__title--sanpham">
                Sản Phẩm
            </div>
            <div class="cart__title--dongia">
                Đơn Giá
            </div>
            <div class="cart__title--soluong">
                Số Lượng
            </div>
            <div class="cart__title--sotien">
            Số Tiền
            </div>
            <div class="cart__title--thaotac">
                Thao Tác
            </div>
        </div>
        <div class="cart__shopinfo">
                <div class="cart__shopinfo--left">
                   <h1>YOUR BAG</h1>
                </div>
                <div class="cart__shopinfo--right">
                    <a href="/">Continue shopping <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
        {{#each cart}}  
            <div id="cartitem" class="cart__content">
                <div id="checkbox" class="cart__content--checkbox">
                    <input type="checkbox" name="check" id="check" >
                </div>
                <div class="cart__content--sanpham">
                    
                    <div class="cart__content--sanpham_image">
                        <a href="/product/{{this.product_slug}}">
                            <img id="cart_image" src="{{this.product_image}}" alt="image" style="width: 10rem; height:10rem">
                        </a>
                    </div>
                    <div class="cart__content--sanpham_name">
                        <a id="cart_name" href="/product/{{this.product_slug}}">
                            {{this.product_name}}
                        </a>
                    </div>
                </div>
                <div id="dongia" class="cart__content--dongia">
                    <p   class="dongia">
                        {{this.product_price}}
                    </p>
                    <p id="formatPrice"  class="dongiashow">
                            {{this.product_price}}
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="cart__content--soluong">
                    <div id="quanity" class="cart__content--soluong_quanity" >
                        <button id="sub" class="quanity" disabled><i class="far fa-minus"></i></button>
                        <input type="numer" name="soluong" id="soluong" value="1">
                        <button id="add" class="quanity"><i class="fal fa-plus"></i></button>
                    </div>
                    
                </div>
                <div id="sotien" class="cart__content--sotien">
                    <p id="formatPrice"  class="sotien">
                            {{this.product_price}}
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="cart__content--thaotac">
                    <button id="{{this._id}}" class="btn--white Cbtndel">Xóa</button>
                </div>
            </div>
        {{/each}}

        <div id="checkout" class="cart__checkout fixed-bottom">
            <div class="cart__checkout--checkbox">
                <input type="checkbox" name="all" id="all">
            </div>
            <div class="cart__checkout--choose">
                Chọn tất cả 
            </div>
            <div class="cart__checkout--tongtien">
                Tổng thanh toán : <span id="tongtien"> 0</span> <span>VNĐ</span>
            </div>
            <div class="cart__checkout--muahang">
                <a id="btncheckout" href="#"><button class="mhbtn"> Mua Hàng</button></a> 
            </div>
        </div>
    </div>
    <div id="confirmdel" class="confirmdel">
        <div class="confirmdel__ques">
            <span>Bạn có chắn chắn muốn xóa mặt hàng này?</span>
        </div>
        <div class="confirmdel__btn">
            <button id="Cbtndestroy" class="btn--del">Xóa Bỏ</button>
            <button id="Cbtnclose" class="btn--close">Hủy</button>
        </div>
    </div>
    <div id="comfirm-checkout" class="comfirm-checkout">
        <div class="comfirm-checkout__content">
            <span>Bạn vẫn chưa chọn sản phẩm nào để mua</span>
        </div>
        <button class="checkout--btnOK">OK</button>
    </div>
     <div id="bgblack" class="bg--black"></div>
     <form id="cart-form-delete"  method="POST"></form>

     <div class="horscroll" style="margin: 10rem auto;">
    <h1>DƯỢC ĐỀ XUẤT CHO BẠN</h1>
    <div class="horscroll__container">
    {{#each product}}
        <div class="row">
            <div class="card">
                <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                <div class="card__content">
                    <a href="/product/{{this.slug}}">
                        <span class="text-overflow">{{this.name}}</span>
                    </a>
                    <div class="card__content--price">
                        <p id="formatPrice">{{this.price}}</p>
                        <span>VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
    <button class="btn--next"><i class="fas fa-chevron-right"></i></button>
    <button class="btn--re"><i class="fas fa-chevron-left"></i></button>
</div>
</body>
<script src="/js/cart.js"></script>