<body style="background-color: #f5f5f5;">
    <div class="cart">
        <div class="cart__title">
            <div class="cart__title--checkbox">
                <input type="checkbox" name="alltt" id="alltt">
            </div>
            <div class="cart__title--sanpham">
                Sản Phẩm
            </div>
            <div class="cart__title--dongia">
                Đơn Giá
            </div>
            <div class="cart__title--soluong">
                Số Lượng
            </div>
            <div class="cart__title--sotien">
            Số Tiền
            </div>
            <div class="cart__title--thaotac">
                Thao Tác
            </div>
        </div>
        {{#each cart}}
            <div class="cart__shopinfo">
                <div class="cart__shopinfo--left">
                    <a href="#"><button class="chat"><i class="fas fa-comments"></i>chat</button></a>
                </div>
                <div class="cart__shopinfo--right">
                    <a href="#">Đã Giao </a>
                   
                </div>
            </div>
            <div id="cartitem" class="cart__content">
                <div id="checkbox" class="cart__content--checkbox">
                    <input type="checkbox" name="check" id="check">
                </div>
                <div class="cart__content--sanpham">
                    
                    <div class="cart__content--sanpham_image">
                        <a href="/product/{{this.product_slug}}">
                            <img src="{{this.product_image}}" alt="image" style="width: 10rem; height:10rem">
                        </a>
                    </div>
                    <div class="cart__content--sanpham_name">
                        <a href="/product/{{this.product_slug}}">
                            {{this.product_name}}
                        </a>
                    </div>
                </div>
                <div id="dongia" class="cart__content--dongia">
                    <p   class="dongia">
                        {{this.product_price}}
                    </p>
                    <p id="formatPrice"  class="dongiashow">
                            {{this.product_price}}
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="cart__content--soluong">
                    <div id="quanity" class="cart__content--soluong_quanity" >
                        <button id="sub" class="quanity" disabled><i class="far fa-minus"></i></button>
                        <input type="numer" name="soluong" id="soluong" value="1">
                        <button id="add" class="quanity"><i class="fal fa-plus"></i></button>
                    </div>
                    
                </div>
                <div id="sotien" class="cart__content--sotien">
                    <p id="formatPrice"  class="sotien">
                            {{this.product_price}}
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="cart__content--thaotac">
                    <button id="{{this._id}}" class="btn--white Cbtndel">Xóa</button>
                </div>
            </div>
            <div class="cart__detail">
                <div class="cart__detail--left">
                    <div class="cart__detail--left_ship">
                        <i class="fad fa-truck-container"></i>
                        <span>Miễn Phí Vận Chuyển cho đơn hàng từ ₫50.000 (giảm tối đa ₫25.000)</span>
                    </div>
                </div>
                <div class="cart__detail--right">
                    <button class="cart__detail--right_bill"> Xem Chi Tiết Đơn Hàng</button>
                </div>
                
            </div>
        {{/each}}

        <div id="checkout" class="cart__checkout fixed-bottom">
            <div class="cart__checkout--checkbox">
                <input type="checkbox" name="all" id="all">
            </div>
            <div class="cart__checkout--choose">
                Chọn tất cả 
            </div>
            <div class="cart__checkout--tongtien">
                Tổng thanh toán : <span id="tongtien"> 0</span> <span>VNĐ</span>
            </div>
            <div class="cart__checkout--muahang">
                 <button class="mhbtn"> Mua Hàng</button>
            </div>
        </div>
    </div>
    <div id="confirmdel" class="confirmdel active">
        <div class="confirmdel__title">
            <h1>Xóa đơn hàng ?</h1>
            <div id="Cbtntime" class="confirmdel__title--time">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="confirmdel__ques">
            <h3>Bạn có chắn chắn muốn xóa mặt hàng này?</h3>
        </div>
        <div class="confirmdel__btn">
            <button id="Cbtndestroy" class="btn--del">Xóa Bỏ</button>
            <button id="Cbtnclose" class="btn--close">Hủy</button>
        </div>
    </div>
     <div id="bgblack" class="bg--black"></div>
     <form id="cart-form-delete"  method="POST"></form>
</body>
<script src="/js/cart.js"></script>