<body style="background-color: #f5f5f5;">
    <div class="cart">
        <div class="cart__title">
            <div class="cart__title--checkbox">
                <input type="checkbox" name="alltt" id="alltt">
            </div>
            <div class="cart__title--sanpham">
                Sản Phẩm
            </div>
            <div class="cart__title--dongia">
                Đơn Giá
            </div>
            <div class="cart__title--soluong">
                Số Lượng
            </div>
            <div class="cart__title--sotien">
            Số Tiền
            </div>
            <div class="cart__title--thaotac">
                Thao Tác
            </div>
        </div>
        <div class="cart__shopinfo">
                <div class="cart__shopinfo--left">
                   <h1>YOUR BAG</h1>
                </div>
                <div class="cart__shopinfo--right">
                    <a href="/">Continue shopping <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div> 
            <div class="Cart_pro">
                
            </div>
            

        <div id="checkout" class="cart__checkout fixed-bottom">
            <div class="cart__checkout--checkbox">
                <input type="checkbox" name="all" id="all">
            </div>
            <div class="cart__checkout--choose">
                Chọn tất cả 
            </div>
            <div class="cart__checkout--tongtien">
                Tổng thanh toán : <span id="tongtien"> 0</span> <span>VNĐ</span>
            </div>
            <div class="cart__checkout--muahang">
                <a id="btncheckout" href="#"><button class="mhbtn"> Mua Hàng</button></a> 
            </div>
        </div>
    </div>
    <div id="confirmdel" class="confirmdel">
        <div class="confirmdel__ques">
            <span>Bạn có chắn chắn muốn xóa mặt hàng này?</span>
        </div>
        <div class="confirmdel__btn">
            <button id="Cbtndestroy" class="btn--del">Xóa Bỏ</button>
            <a href="/cart/cart" id="refesh_cart" style="none"></a>
            <button id="Cbtnclose" class="btn--close">Hủy</button>
        </div>
    </div>
    <div id="comfirm-checkout" class="comfirm-checkout">
        <div class="comfirm-checkout__content">
            <span>Bạn vẫn chưa chọn sản phẩm nào để mua</span>
        </div>
        <button class="checkout--btnOK">OK</button>
    </div>
     <div id="bgblack" class="bg--black"></div>

<div class="horscroll" style="margin: 10rem auto;">
    <h1>ĐƯỢC ĐỀ XUẤT CHO BẠN</h1>
    <div class="horscroll__container horContainer">
    {{#each product}}
        <div class="row">
            <div class="card">
                <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                <div class="card__content">
                    <a href="/product/{{this.slug}}">
                        <span class="text-overflow">{{this.name}}</span>
                    </a>
                    <div class="card__content--price">
                        <p id="formatPrice">{{this.price}}</p>
                        <span>VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
    <button class="btn--next btnnext"><i class="fas fa-chevron-right"></i></button>
    <button class="btn--re btnre"><i class="fas fa-chevron-left"></i></button>
</div>
<div class="subscribe">
    <div class="subscribe__box">
        <div class="subscribe__box--h1">
            <h1>SIGN UP &amp; GET AN EXCLUSIVE OFFER</h1>
        </div> 
        <a href="/logon/signup"><div class="bor--adidas"><button class="btn--adidas">Sign up for newsletter<i class="far fa-long-arrow-right"></i></button></div> </a>
    </div>
</div>
</body>
<script src="/js/cart.js"></script>