<body style="background-color: #f5f5f5;">
    <div class="accountM">
        <div class="accountM__header">
            <h2>ACCOUNT MANAGEMENT</h2>
        </div>
        <div class="accountM__listaccount">
            <table>
            <tr>
                <th>stt</th>
                <th>Name</th>
                <th>Email</th>
                <th>ID</th>
                <th style="text-align: center;">Action</th>
            </tr>
            {{#each user}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.email}}</td>
                <td>{{this._id}}</td>
                <td style="text-align: center;">
                    <a href="/admin/AccManage/{{this._id}}"><button class="btn-detail" >Xem Chi Tiết</button></a> 
                    <button class="btn-del" >Xóa</button>
                </td>
            </tr>
            {{/each}}
            </table>
        </div>
    </div>
</body>
