
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #f5f5f5;">
   
        <div class="admin__bill">
            <div class="admin__bill--title">
                <div class="admin__bill--title_status active__borderbot">
                   <a href="#" class="status">Chờ thanh toán</a>
                </div>
                <div class="admin__bill--title_status">
                     <a href="#" class="status">Chờ lấy hàng</a>
                </div>
                <div class="admin__bill--title_status">
                    <a href="#" class="status">Đang giao</a>
                </div>
                <div class="admin__bill--title_status">
                    <a href="#" class="status">Đã giao</a>
                </div>
                <div class="admin__bill--title_status">
                    <a href="#" class="status">Đã hủy</a>
                </div>
            </div>
            <div class="admin__bill--content bill_show">
                {{#each bill}}
                {{#if (status this.status "ctt")}}
                <div class="admin__bill--content_products">
                        {{#each this.products}}
                        <div class="Bill_product">
                             <div class="Bill_product--name">
                                <span>{{this.name}}</span>
                            </div>
                             <div class="Bill_product--soluong">
                                <span>x{{this.soluong}}</span>
                            </div>
                             <div class="Bill_product--dongia">
                                <p id="formatPrice">
                                {{this.dongia}}
                                </p>
                                <span>VNĐ</span>
                            </div>
                        </div>
                        {{/each}}
                        <div class="admin__bill--content_products--total">
                            <span>Tổng tiền thanh toán:</span>
                            <p id="formatPrice">
                             {{this.total}}
                            </p>
                            <span>VNĐ</span>
                        </div>
                        <div class="admin__bill--content_products--button">
                            <a href="/Bill/detail/{{this._id}}"><button class="btn_nor">Xem chi tiết đơn hàng</button></a>
                            <button id="{{this._id}}" class="btn_green bill_btnduyetctt">Duyệt</button>
                        </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="admin__bill--content">
                {{#each bill}}
                {{#if (status this.status "clh")}}
                <div class="admin__bill--content_products">
                        {{#each this.products}}
                        <div class="Bill_product">
                             <div class="Bill_product--name">
                                <span>{{this.name}}</span>
                            </div>
                             <div class="Bill_product--soluong">
                                <span>x{{this.soluong}}</span>
                            </div>
                             <div class="Bill_product--dongia">
                                <p id="formatPrice">
                                {{this.dongia}}
                                </p>
                                <span>VNĐ</span>
                            </div>
                        </div>
                        {{/each}}
                        <div class="admin__bill--content_products--total">
                            <span>Tổng tiền thanh toán:</span>
                            <p id="formatPrice">
                             {{this.total}}
                            </p>
                            <span>VNĐ</span>
                        </div>
                        <div class="admin__bill--content_products--button">
                            <a href="/Bill/detail/{{this._id}}"><button class="btn_nor">Xem chi tiết đơn hàng</button></a>
                            <button id="{{this._id}}" class="btn_green bill_btnduyetclh">Duyệt</button>
                        </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="admin__bill--content">
                {{#each bill}}
                {{#if (status this.status "danggiao")}}
                <div class="admin__bill--content_products">
                        {{#each this.products}}
                        <div class="Bill_product">
                             <div class="Bill_product--name">
                                <span>{{this.name}}</span>
                            </div>
                             <div class="Bill_product--soluong">
                                <span>x{{this.soluong}}</span>
                            </div>
                             <div class="Bill_product--dongia">
                                <p id="formatPrice">
                                {{this.dongia}}
                                </p>
                                <span>VNĐ</span>
                            </div>
                        </div>
                        {{/each}}
                        <div class="admin__bill--content_products--total">
                            <span>Tổng tiền thanh toán:</span>
                            <p id="formatPrice">
                             {{this.total}}
                            </p>
                            <span>VNĐ</span>
                        </div>
                        <div class="admin__bill--content_products--button">
                            <a href="/Bill/detail/{{this._id}}"><button class="btn_nor">Xem chi tiết đơn hàng</button></a>
                            <button id="{{this._id}}" class="btn_green bill_btnduyetdg">Duyệt</button>
                        </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="admin__bill--content">
                {{#each bill}}
                {{#if (status this.status "dagiao")}}
                <div class="admin__bill--content_products">
                        {{#each this.products}}
                        <div class="Bill_product">
                             <div class="Bill_product--name">
                                <span>{{this.name}}</span>
                            </div>
                             <div class="Bill_product--soluong">
                                <span>x{{this.soluong}}</span>
                            </div>
                             <div class="Bill_product--dongia">
                                <p id="formatPrice">
                                {{this.dongia}}
                                </p>
                                <span>VNĐ</span>
                            </div>
                        </div>
                        {{/each}}
                        <div class="admin__bill--content_products--total">
                            <span>Tổng tiền thanh toán:</span>
                            <p id="formatPrice">
                             {{this.total}}
                            </p>
                            <span>VNĐ</span>
                        </div>
                        <div class="admin__bill--content_products--button">
                            <a href="/Bill/detail/{{this._id}}"><button class="btn_nor">Xem chi tiết đơn hàng</button></a>
                        </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="admin__bill--content">
                {{#each bill}}
                {{#if (status this.status "dh")}}
                <div class="admin__bill--content_products">
                        {{#each this.products}}
                        <div class="Bill_product">
                             <div class="Bill_product--name">
                                <span>{{this.name}}</span>
                            </div>
                             <div class="Bill_product--soluong">
                                <span>x{{this.soluong}}</span>
                            </div>
                             <div class="Bill_product--dongia">
                                <p id="formatPrice">
                                {{this.dongia}}
                                </p>
                                <span>VNĐ</span>
                            </div>
                        </div>
                        {{/each}}
                        <div class="admin__bill--content_products--total">
                            <span>Tổng tiền thanh toán:</span>
                            <p id="formatPrice">
                             {{this.total}}
                            </p>
                            <span>VNĐ</span>
                        </div>
                        <div class="admin__bill--content_products--button">
                            <a href="/Bill/detail/{{this._id}}"><button class="btn_nor">Xem chi tiết đơn hàng</button></a>
                        </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <form id="bill-form-duyet"  method="POST"></form>
        </div>
 
    
</body>
<script>

const Link = document.querySelectorAll(".admin__bill--title_status")
const products = document.querySelectorAll(".admin__bill--content")

Link.forEach((item, index) => {

    const product = products[index]

    item.onclick = function() {


        const activeItem = document.querySelector(".admin__bill--title_status.active__borderbot")
        const hiddenProduct = document.querySelector(".admin__bill--content.bill_show")

        hiddenProduct.classList.remove('bill_show')
        product.classList.add('bill_show')

        activeItem.classList.remove('active__borderbot')
        this.classList.add('active__borderbot')

    }
})
// comfirmdel
const bg = document.getElementById("bgblack");
const confirmdel = document.getElementById("confirmdel");
const btnduyetctt = document.querySelectorAll(".bill_btnduyetctt");
const btnduyetclh = document.querySelectorAll(".bill_btnduyetclh");
const btnduyetdg = document.querySelectorAll(".bill_btnduyetdg");
const formduyet = document.getElementById("bill-form-duyet");



btnduyetctt.forEach(function(item, index) {
    item.addEventListener("click", function() {
        formduyet.action = "/admin/BillMg/ctt/" + item.id + "?_method=PUT"
        formduyet.submit();
    })
})
btnduyetclh.forEach(function(item, index) {
    item.addEventListener("click", function() {
        formduyet.action = "/admin/BillMg/clh/" + item.id + "?_method=PUT"
        formduyet.submit();
    })
})
btnduyetdg.forEach(function(item, index) {
    item.addEventListener("click", function() {
        formduyet.action = "/admin/BillMg/dg/" + item.id + "?_method=PUT"
        formduyet.submit();
    })
})

</script>
</html>

