<body style="background-color: #f5f5f5;">
    <div class="accountM">
        <div class="accountM__header">
            <h2>PRODUCT MANAGEMENT</h2>
        </div>
        <div class="accountM__listaccount">
            <table>
            <tr>
                <th>stt</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>ID</th>
                <th style="text-align: center;">Action</th>
            </tr>
            {{#each product}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.type}}</td>
                <td>{{this._id}}</td>
                <td style="text-align: center;">
                    <a href="/admin/PDManage/{{this._id}}"><button class="btn-detail" >Cập nhật</button></a> 
                    <button id="{{this._id}}" class="btn-del Cbtndel" >Xóa</button>
                </td>
            </tr>
            {{/each}}
            </table>
        </div>
    </div>
    <div id="confirmdel" class="confirmdel active">
        <div class="confirmdel__title">
            <h1>Xóa sản phẩm ?</h1>
            <div id="Cbtntime" class="confirmdel__title--time">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="confirmdel__ques">
            <h3>Bạn có chắn chắn muốn xóa sản phẩm này?</h3>
        </div>
        <div class="confirmdel__btn">
            <button id="Cbtndestroy" class="btn--del">Xóa Bỏ</button>
            <button id="Cbtnclose" class="btn--close">Hủy</button>
        </div>
    </div>
     <div id="bgblack" class="bg--black"></div>
     <form id="cart-form-delete"  method="POST"></form>
</body>


<script>
    // comfirmdel
const bg = document.getElementById("bgblack");
const confirmdel = document.getElementById("confirmdel");
const btndel = document.querySelectorAll(".Cbtndel");
const btntime = document.getElementById("Cbtntime");
const btnclose = document.getElementById("Cbtnclose");
const btndestroy = document.getElementById("Cbtndestroy");
const formdel = document.getElementById("cart-form-delete");


btnclose.addEventListener("click", function() {
    confirmdel.style.display = "none"
    bg.style.display = "none"
})
btntime.addEventListener("click", function() {
    confirmdel.style.display = "none"
    bg.style.display = "none"
})

btndel.forEach(function(item, index) {
    item.addEventListener("click", function() {
        bg.style.display = "block"
        confirmdel.style.display = "block"

        btndestroy.addEventListener("click", function() {
            formdel.action = "/product/" + item.id + "?_method=DELETE"
            formdel.submit();
        })
    })
})
</script>