<div class="filter">
    <div class="filter__HorS">
        <button class="filter__HorS--btn btn--white" >
            <span class="hideFilter">Ẩn bộ lọc <i class="fas fa-toggle-off"></i></span>
            <span class="showFilter">Hiện bộ lọc<i class="fas fa-toggle-on"></i></span>
        </button>
    </div>
    <div class="filter__sort">
        <button class="filter__sort--btn btn--white">
            <span class="sortDown">Sắp xếp <i class="fas fa-chevron-down"></i></span>
            <span class="sortUp">Sắp xếp <i class="fas fa-chevron-up"></i></span>
        </button>
        <ul class="dropdown">
            <li><button class="btn--white"> Bán Chạy</button></li>
            <li><button class="btn--white"> Mới nhất</button></li>
            <li><button class="btn--white"> Giá tăng dần</button></li>
            <li><button class="btn--white"> Giá giảm dần</button></li>
            
        </ul>
    </div>
</div>
<div class="product">
    <div class="product__sidebar">
        <h1>Bộ lọc</h1>
        <div class="product__sidebar--ftPrice">
            <span> </i>Khoảng Giá</span>
            <ul>
                <li><button class="btn--white"> Dưới 500.000 VNĐ</button></li>
                <li><button class="btn--white"> Từ 500.000 - 1 triệu VNĐ</button></li>
                <li><button class="btn--white"> Từ 1 - 2 triệu VNĐ</button></li>
                <li><button class="btn--white"> Từ 2 - 5 triệu VNĐ</button></li>
                <li><button class="btn--white"> Từ 5 - 10 triệu VNĐ</button></li>
                <li><button class="btn--white"> 10 triệu VNĐ trở lên</button></li>
            </ul>
        </div>
        <div class="product__sidebar--ftBrand">
            <span> </i>Nhãn Hiệu</span>
            <ul>
                <li><input type="checkbox">  Adidas</li>
                <li><input type="checkbox">  Nike</li>
                <li><input type="checkbox">  Converse </li>
                <li><input type="checkbox">  Kering (PUMA)</li>
                <li><input type="checkbox">  Vans </li>
                <li><input type="checkbox">  Mizuno </li>
                <li><input type="checkbox">  ASICS </li>
                <li><input type="checkbox">  Balenciaga </li>
            </ul>
        </div>

    </div>
    <div class="product__container">
        {{#each product}}
            <div class="row">
                <div class="card">
                    <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                    <div class="card__content">
                        <a href="/product/{{this.slug}}">
                            <span class="text-overflow">{{this.name}}</span>
                        </a>
                        <div class="card__content--price">
                            <p id="formatPrice">{{this.price}}</p>
                            <span>VNĐ</span>
                        </div>
                        <div class="card__content--soluong">
                            <span>SL:{{this.number}}</span> 
                        </div>
                    </div>
                </div>
            </div>
        {{/each}} 
    </div>
</div>
<div class="subscribe">
    <div class="subscribe__box">
        <div class="subscribe__box--h1">
            <h1>SIGN UP &amp; GET AN EXCLUSIVE OFFER</h1>
        </div> 
        <a href="/logon/signup"><div class="bor--adidas"><button class="btn--adidas">Sign up for newsletter<i class="far fa-long-arrow-right"></i></button></div> </a>
    </div>
</div>
<script>
    const hideFilter =  document.querySelector(".hideFilter");
    const showFilter =  document.querySelector(".showFilter");
    const product__sidebar =  document.querySelector(".product__sidebar");  
    const product__container =  document.querySelector(".product__container");
    const sortDown =  document.querySelector(".sortDown");
    const sortUp =  document.querySelector(".sortUp");
    const dropdown =  document.querySelector(".dropdown");

    showFilter.style.display = "none";
    sortUp.style.display = "none";

    hideFilter.addEventListener("click",function(){
        showFilter.style.display = "block";
        hideFilter.style.display = "none";
        product__sidebar.style.display = "none";
        product__container.style.width = "100%";
    })
    showFilter.addEventListener("click",function(){
        showFilter.style.display = "none";
        hideFilter.style.display = "block";
        product__sidebar.style.display = "block";
        product__container.style.width = "80%";
    })
    sortDown.addEventListener("click",function(){
        sortUp.style.display = "block";
        sortDown.style.display = "none";
        dropdown.style.display = "block";
        
    })
    sortUp.addEventListener("click",function(){
        sortUp.style.display = "none";
        sortDown.style.display = "block";
        dropdown.style.display = "none";
        
    })
</script>
