<div class="product">
    <div class="product__container">
        {{#each product}}
            <div class="row">
                <div class="card">
                    <a href="/product/{{this.slug}}"><img src="{{this.image}}" alt=""></a>
                    <div class="card__content">
                        <a href="/product/{{this.slug}}">
                            <h3 class="text-overflow">{{this.name}}</h3>
                        </a>
                        <p id="formatPrice" class="card__content--price">{{this.price}}</p>
                        <a href="/product/{{this.slug}}"><button class="card__content--btn">Buy now</button></a>
                    </div>
                </div>
            </div>
        {{/each}} 
    </div>
</div>
